.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background-color: rgb(12, 12, 12);
    z-index: 999;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: transform 0.7s ease; 
  }

  .navbar.open {
    transform: translateX(0); 
}

.navbar {
    transform: translateX(-100%); 
}


.navbar-div{
    height: 90%;
    width: 85%;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.navbar-title{
    display: flex;
    height: 5%;
    width: 100%;
    margin-top: 1rem;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4rem;

}

.navbar-title h3{
    font-family: "metropolis-semibold", sans-serif;
    font-size: 13px;
    line-height: 1.363;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #4cdbfb;
}

.navbar-title a {
    height: 100%;
    color: white;
    font-size: 18px;
    align-self: end;
    margin-left: 27px;
    align-items: center;
    justify-content: center;
    width: 15%;
    display: flex;
}

.navbar-title .close{
    margin: auto;
}


.navbar-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


.navbar-list{
    font-family: "metropolis-regular", sans-serif;
    font-size: 1.1rem;
    margin: 1rem 0 2rem 0;
    padding: 0 0 1.8rem 0;
    list-style: none;
    text-align: start;
}

.navbar-list li{
    border-top: 1px solid rgba(255, 255, 255, 0.146);
    line-height: 4rem;
    position: relative;
}

.navbar-list li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.146);
}

.navbar-list li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 0 0 0 2rem;
    transition: 0.3s;
    transition: color 0.3s;
}

.navbar-list li a:hover {
    color: #4cdbfb; 
}

.navbar-link{
    cursor: pointer;
}


.navbar-github{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    height: 30rem;
    align-self: center;
    width: 70%;
    text-align: center;
    justify-content: space-between;
}

.navbar-github p{
    color: white;
    margin-top:0.5rem ;
}

.github-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background-color: black;
    color: white;
    text-align: center;
    line-height: 40px;
    margin-left: 30px; 
  }
  
  .github-icon svg {
    font-size: 30px;
  }
  






