.product-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
}



.product-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
}


.row-product-h3{
    width: 100%;
    float: left;
    padding: 0 20px;
    padding-top: 6rem;
    display: flex;
}


.row-product-h3 h3{
    font-family: "metropolis-semibold", sans-serif;
    font-size: 16px;
    line-height: 1.3125;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #2f95ac; 
    align-self: flex-start;
}


.product-buttons-switch{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 4rem;
    padding-bottom: 5rem;
    width: 20%;
}
