.product-buttons-switch button{
    align-items: center;
    background-image: linear-gradient(135deg, #2f95ac 40%, #185e6e );
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold",sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 54px;
    justify-content: center;
    letter-spacing: .7px;
    line-height: 1;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .product-buttons-switch button:active {
    outline: 0;
  }
  
  .product-buttons-switch button:hover {
    outline: 0;
  }
  
  .product-buttons-switch button span {
    transition: all 200ms;
  }
  
  .product-buttons-switch button:hover span {
    transform: scale(.9);
    opacity: .75;
  }
  


  .product-button.active {
    background-image: linear-gradient(135deg, #ffffff 40%, #ffffff );
    border: 4px solid #2f95ac;
  }
  
  .product-button.active span{
    color: #2f95ac;
  }