.team-section{
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    background-color:rgb(255, 255, 255);
}

.team-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
}


.row-team-h3{
    width: 100%;
    float: left;
    padding: 0 20px;
    padding-top: 4rem;
    display: flex;
}


.row-team-h3 h3{
    font-family: "metropolis-semibold", sans-serif;
    font-size: 16px;
    line-height: 1.3125;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: #2f95ac; 
    align-self: flex-start;
}

.row-team-p{
    width: 100%;
    float: left;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
}

.row-team-p p{
    line-height: 42px;
    font-family: "metropolis-regular", sans-serif;
    font-size: 24px;
    margin-bottom: 36px;
    color:rgba(85, 85, 85, 0.95);
}

.row-team-p p a{
    text-decoration: none;
    color:rgba(85, 85, 85, 0.95);
    position: relative;
}

.row-team-p p a:hover{
    text-decoration: none;
    color: #2f95ac; 
}

.row-team-p p a::before {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 100%;
    height: 1px; 
    border-bottom: 1px dashed rgba(85, 85, 85, 0.95);
  }


.show-team-cards{
    display: grid;
    grid-template-columns: 75% 25% ;
    gap: 40px;
    width: 100%;
    height: 100%;
    align-self: center;
    margin-top: 1rem;
    justify-content: space-around;
    row-gap: 50px;
}


.team-collum{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.mentor-collum{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1500px) {
   .show-team-cards{
    display: flex;
    flex-direction: column;
   }

   .team-content{
    width: 90%;
   }


   .row-team-p{
    width: 90%;
    align-self: center;
   }
}