.ScrollDown-button{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 100px;
    bottom: 110px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.ScrollDown-button p{
    margin-left: 15px;
    font-size: 15px;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    letter-spacing: 0.15rem;
    margin-right: 20px;
    color: white;
    cursor: pointer;
}


.ScrollDown-button:hover::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: -0.5rem; 
    width: 100%; 
    height: 2px; 
    background-color: #4cdbfb; 
    text-decoration: underline; 
    cursor: pointer;
    transition: 1s ease-in-out; 
  }



.ScrollDownButton{
    font-size: 12px;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    width: 3rem;
    background-color: white;
    border: 4px solid white;
    border-radius: 2rem;
}

.ScrollDownButton:hover{
   cursor: pointer;
}

.icon-scroll-down{
    font-size: 1.2rem;
    color: black;
    transition: 0.3s;
}


@media (max-width: 768px) {
    .ScrollDown-button{
        display: none;
    }
}