.home-section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
    position: relative; 
    opacity: 1;
    background-image: url('../../Assets/backgroundhome.jpeg');
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.home-section::before {
    z-index:-1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
}

.home-section .home-title{
    color: #4cdbfb; 
    font-size: 3.5rem;
    font-family: "Quantico", sans-serif;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    z-index: 1;
}

.home-section .home-title2{
        color:white; 
        font-size: 2.5rem;
        font-family: "Quantico", sans-serif;
        font-weight: 700;
        font-style: italic;
        text-align: center;
        opacity: 1;
        letter-spacing: 0.25rem;
}

.home-options {
    position: absolute;
    width: 50%;
    height: 3rem;
    margin: 0 auto;
    justify-content: center; 
    display: flex;
    bottom: 100px;
    justify-content: space-between;
  }
  
  .home-options-div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  
  .home-options-div p {
    margin-left: 15px;
    font-size: 15px;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    letter-spacing: 0.30rem;
  }
  
  .home-options-div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    letter-spacing: 0.30rem;
  }
  
  .icons-home {
    font-size: 7px;
    color: #4cdbfb; 
  }
  
  .under-options {
    font-size: 12px;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    letter-spacing: 0.15rem;
  }

  .home-options-div:hover p.special-color {
    color: #4cdbfb; 
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease forwards;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
