.home-section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: -33;
    justify-content: center;
    position: relative; 
    opacity: 1;
    background-image: url('../../Assets/backgroundhome.jpeg');
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
}

.home-section::before {
    z-index:-32;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); 
}

.home-section .home-title{
    color: #4cdbfb; 
    font-size: 3.5rem;
    font-family: "Quantico", sans-serif;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.home-section .home-title2{
        color:white; 
        font-size: 2.5rem;
        font-family: "Quantico", sans-serif;
        font-weight: 700;
        font-style: italic;
        text-align: center;
        opacity: 1;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
}

.home-options{
    position: absolute;
    width: 50%;
    height: 4rem;
    margin: 0 auto;
    justify-content: center; 
    display: flex;
    bottom: 100px;
    justify-content: space-between;
}


.home-options span{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}


.home-options span p{
    margin-left: 15px;
    font-size: 15px;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    letter-spacing: 0.15rem;
}


.icons-home{
    font-size: 12px;
    color: #4cdbfb; 
}




